{% extends 'base.html' %}

<!-- tab title -->
{% block tab_title %}
<title>Register</title>
{% endblock %}

<!-- page title -->
{% block title %}
<div class="container-fluid">
  <h1>New User Registration</h1>
</div>
{% endblock %}

<!-- content -->
{% block content %}

<div class="container-fluid">
  <!-- form -->
  <div class="container" style="max-width: 50%">
    <form action="" method="POST">
      {% include 'bootstrap_form.j2' %}
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</div>
{% endblock%}
