{% extends 'base.html' %}

<!-- content -->
{% block content %}
<div class="container">
  <h1>{{user.username}}</h1>
  <span>{{user.email}}</span>
  <p>{{user.first_name}} {{user.last_name}}</p>

  <h3 class="border-top border-black">Your FeedBack</h3>
  {% if feedback %} {% for f in feedback %}

  <span><b>{{f.title}}</b></span>
  <span
    ><a href="/feedback/{{f.id}}/update" class="btn btn-primary"
      >Update</a
    ></span
  >
  <span
    ><a href="/feedback/{{f.id}}/delete" class="btn btn-danger">Delete</a></span
  >

  <p>{{f.username}}</p>
  <p>{{f.content}}</p>

  {% endfor %} {% else %}
  <h3>no feedback yet.</h3>
  {% endif %}
</div>
{% endblock %}
